<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">MENU</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="active">
        <a href="/">
          <i class="fa fa-home"></i>
          <span>Página Inicial</span>
        </a>
      </li>
      <li class="">
        <a href="/stores">
          <i class="fa fa-building"></i>
          <span>
            <%= t(:other, scope: [:activerecord, :models, :store]) %>
          </span>
        </a>
      </li>
      <li class="">
        <a href="/sellers">
          <i class="fa fa-users"></i>
          <span><%= t(:other, scope: [:activerecord, :models, :seller]) %></span>
        </a>
      </li>
      <li class="">
        <a href="/goals">
          <i class="fa fa-line-chart"></i>
          <span><%= t(:other, scope: [:activerecord, :models, :goal]) %></span>
        </a>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>