<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">
      <%= title %>
    </h3>
  </div>
  <div id="form-goals"></div>
  <%= javascript_pack_tag 'application' %>
</div>
